* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 5em;
}

a {
    clear: left;
    text-decoration: none;
}